{% extends './_base.html' %}

{% block head %}
	<title>About us - SYGY</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

{% endblock %}

{% block body %}
	<section class="h-75">
		<div class="container h-100" style="position: relative;">
			<div class="row w-100 no-gutters" style="position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);">
				<div class="col-6 text-center" style="border-right-style: solid; border-right-width: .01rem; border-right-color: #ddd;">
					<h3 class="text-uppercase mb-4" style="font-weight: 300;">Команда</h3> 

					<div class="row justify-content-center"> 
						<div class="col-5 text-center">
							<img class="rounded-circle px-4 my-2 img-fluid" src="/static/img/about/team_ladenkov.jpg" alt="[img: Ladenkov photo]">
							Vladislav Ladenkov<br> 
							<small><i class="fa fa-envelope d-inline"></i> No.Spare.Nicks.Left@gmail.com</small>
						</div>
						<div class="col-5 text-center">
							<img class="rounded-circle px-4 my-2 img-fluid" src="/static/img/about/team_lushkovsky.jpg" alt="[img: Lushkovsky photo]">
							Sergey Lushkovsky<br>
							<small><i class="fa fa-envelope d-inline"></i> s.lushkovsky@gmail.com</small><br>
							<small><i class="fa fa-phone"></i> +7 (910) 452-26-58</small>
						</div>
					</div>
				</div>
				<div class="col-6 text-center px-5"> 
					<h3 class="text-uppercase mb-4" style="font-weight: 300;">Реквизиты</h3>
					ООО "Чек-стар"<br>
					142186, Россия, Московская обл., город Подольск, Больничный проезд, д.2, корп. 1
				</div>
			</div>

		</div>
	</section>
{% endblock %}


