{% extends './_base.html' %}

{% block head %}
	<title>eyeGuest - SYGY</title>

	<link rel="stylesheet" href="static/css/product_page.css">
{% endblock %}

{% block body %}
	<section style="background-image: url('/static/img/eyeGuest/header.jpg');"> 
		<div class="container text-center">
			<div>
				<h1>eyeGuest</h1>
				<h2>Знаем каждого клиента. Без карт и приложений.</h2>
				<button class="btn btn-primary">Попробовать</button>
				<button class="btn btn-secondary">Подробнее</button>
			</div>
		</div>
	</section>
{% endblock %}


