{% extends './_base.html' %}

{% block head %}
	<title>eyeGuest - SYGY</title>

	<link rel="stylesheet" href="static/css/product_page.css">
{% endblock %}

{% block body %}
	<header style="background-image: url('/static/img/eyeGuest/header.jpg');"> 
		<div class="container text-center" style="">
			<h1>Eye-Guest</h1>
			<h2 class="display-4">Know your guests by sight. No cards or apps required.</h2>
			<hr class="mb-4">
			<div class="row px-4 mb-4 text-left">
				<div class="col">
					<h3 class="mb-3">Description</h3> 
					Create handy loyanlty or bonus programs (client recognizes by his face - no apps or cards required). 
					Could be used in: 
					<ul>
						<li>Restaurants, cafes, fastfoods</li>
						<li>Hotels</li>
						<li>Retails</li>
					</ul>
				</div>
				<div class="col">  
					<h3 class="mb-3">Integration</h3>

					<div class="row no-gutters mb-2">
						<div class="col-2 px-2">
							<img class="img-fluid" src="/static/img/camera.png" alt=""> 
						</div>
						<div class="col">
							Cashbox area camers (x1 or x2)
						</div>
					</div>

					<div class="row no-gutters mb-2">
						<div class="col-2 px-2">
							<img class="img-fluid" src="/static/img/pos.png" alt=""> 
						</div>
						<div class="col">
							POS plugin (IIKO, RKeeper, 1C) 
						</div>
					</div> 
				</div>
				<div class="col">
					<h3 class="mb-3">Pricing</h3> 

					<table class="table">
						<thead> 
							<tr>
								<th style="border-top: none;">Venue type</th>
								<th style="border-top: none;">Installation</th>
								<th style="border-top: none;">Usage (per 1000 guests)</th>
							</tr>
						</thead>
						<tbody> 
							<tr> 
								<td>Window</td>
								<td>$660</td>
								<td>$14</td>
							</tr>
							<tr> 
								<td>Fornt desk</td>
								<td>$840</td>
								<td>$16</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<button 
				class="btn btn-try text-uppercase"
				data-toggle="modal" 
				data-target="#modal-join"
			>Try</button>
		</div>
	</header>
{% endblock %}


