{% extends './_base.html' %}

{% block head %}
	<title>eyeService - SYGY</title>

	<link rel="stylesheet" href="static/css/product_page.css">
{% endblock %}

{% block body %}
	<header style="background-image: url('/static/img/eyeService/header.jpg');"> 
		<div class="container text-center">
			<div style="padding-top: 25%;">
				<h1 class="display-4">Eye-Service</h1>
				<h2 class="display-2">Best waiter for each guest</h2>
				<button class="btn btn-primary">Попробовать</button>
				<button class="btn btn-secondary">Подробнее</button>
			</div>
		</div>
	</header>

	<section>
		<h2>Integration</h2>		
	</section>

	<section>
		<h2>Usage in hiring</h2>


	</section>
{% endblock %}


