{% extends './_base.html' %}

{% block head %}
	<title>eyeMarketer - SYGY</title>

	<link rel="stylesheet" href="static/css/product_page.css">
{% endblock %}

{% block body %}
	<header style="background-image: url('/static/img/eyeMarketer/header.jpg');"> 
		<div class="container text-center" style="">
			<h1 class="">Eye-Marketer</h1>
			<h2 class="display-4">Портет гостся для каждого чека. Более 300 метрик.</h2>
			<hr class="mb-4">
			<div class="row px-4 mb-4 text-left">
				<div class="col">
					<h3>Description</h3> 
					Easy loyanlty programs
					Eye-Service is AI based technology for match best waiter to each group f your guests. 
					Some some some some some text tex text text here<br>
					BTW: 
					<ul>
						<li>Restaurants, cafes, fastfoods</li>
						<li>Hotels</li>
						<li>Retails</li>
					</ul>
				</div>
				<div class="col">  
					<h3>Integration</h3>
					Integration with R-Keeper, IIKO and 
					</div>	
				<div class="col">
					<h3>Prices</h3> 
				</div>
			</div>
			
			<button class="btn btn-try text-uppercase">Попробовать</button>
		</div>
	</header>
{% endblock %}


