{% extends './_base.html' %}

{% block head %}
	<title>eyeMarketer - SYGY</title>

	<link rel="stylesheet" href="static/css/product_page.css">
{% endblock %}

{% block body %}
	<section style="background-image: url('/static/img/eyeMarketer/header.jpg');"> 
		<div class="container text-center">
			<div>
				<h1>eyeMarketer</h1>
				<h2>Портет гостся для каждого чека. Более 300 метрик.</h2>
				<button class="btn btn-primary">Попробовать</button>
				<button class="btn btn-secondary">Подробнее</button>
			</div>
		</div>
	</section>
{% endblock %}


