{% extends './_product_page.html' %}

{% block product_page_name %}Eye-Guest{% endblock %}
{% block product_name %}Eye-Guest{% endblock %}
{% block header_img %}/static/img/eyeGuest/header.jpg{% endblock %}
{% block motivation %}Know your guests by sight. No cards or apps required.{% endblock %}

{% block col_1 %}
	<h3 class="mb-3">Description</h3> 
	Create handy loyanlty or bonus programs (client recognizes by his face - no apps or cards required). 
	Could be used in: 
	<ul>
		<li>Restaurants, cafes, fastfoods</li>
		<li>Hotels</li>
		<li>Retails</li>
	</ul>
{% endblock %}

{% block col_2 %}  
	<h3 class="mb-3">Integration</h3>

	<div class="row no-gutters mb-2">
		<div class="col-2 px-2">
			<img class="img-fluid" src="/static/img/camera.png" alt=""> 
		</div>
		<div class="col">
			Cashbox area camers (x1 or x2)
		</div>
	</div>

	<div class="row no-gutters mb-2">
		<div class="col-2 px-2">
			<img class="img-fluid" src="/static/img/pos.png" alt=""> 
		</div>
		<div class="col">
			POS plugin (IIKO, RKeeper, 1C) 
		</div>
	</div>
{% endblock %} 

{% block col_3 %}
	<h3 class="mb-3">Pricing</h3> 

	<table class="table">
		<thead> 
			<tr>
				<th style="border-top: none;">Venue type</th>
				<th style="border-top: none;">Installation</th>
				<th style="border-top: none;">Usage (per 1000 guests)</th>
			</tr>
		</thead>
		<tbody> 
			<tr> 
				<td>Window</td>
				<td>$660</td>
				<td>$14</td>
			</tr>
			<tr> 
				<td>Fornt desk</td>
				<td>$840</td>
				<td>$16</td>
			</tr>
		</tbody>
	</table>
{% endblock %}


