{% extends './_base.html' %}

{% block head %}
	<meta name="description" content="SYGY designs and manufactures the AI solutions to improve restaurants and cafes: loyalty programs, bonus progmras, call to service detection, deep marketing" />
	<meta name="keywords" content="SYGY, AI, computer vision, HoReCa, restaurant, cafe, coffeeshop, loyalty, bonus, waiter, service, guest, merketing, face, detection, recognition, automotization, customer, IIKO, rkeeper" />
	<title>SYGY</title>
	<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
	<header> 
		<div class="container">
			<div class="row justify-content-center" style="margin-top: 10%;">
				<div class="col-5 col-lg-5">
					<img class="img-fluid" src="/static/img/home/cafe_plan.png" alt=""> 
				</div>

				<div class="col-7 col-lg-7">
					<h1 class="display-4">Computer vision to improve your busines</h1>
				</div> 
			</div>
		</div>
	</header>

	<hr> 

	<setion style="background-color: #efefef;"> 
		<div class="container">
			<h2 class="text-center">
				Products<br> 
				<small class="text-muted text-thin">4 blocks for an awesome business</small>
			</h2>

			<div class="row my-4"> 
				<div class="col card mx-2">
					<img class="card-img-top img-fluid" src="/static/img/home/product_guest.png" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Guest</h4>
						<p class="card-text">Create easy to use loyalty programs without any cards or apps.</p>
						<button class="btn btn-primary">Trye</button>
						<button class="btn btn-secondary">More</button>
					</div> 
				</div> 
				<div class="col card mx-2">
					<img class="card-img-top img-fluid" src="/static/img/home/product_service.png" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Service</h4>
						<p class="card-text">Find out yout guest's intent even before him.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div> 
				</div> 
				<div class="col card mx-2">
					<img class="card-img-top img-fluid" src="/static/img/home/product_waiter.png" alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Waiter</h4>
						<p class="card-text">Match the best waiter to each guests.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div> 
				</div> 
				<div class="col card mx-2">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-block">
						<h4 class="card-title">Marketer</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div> 
				</div> 
			</div>
		</div>
	</section>
{% endblock %}