{% extends './_base.html' %}

{% block head %}
	<meta name="description" content="SYGY designs and manufactures the AI solutions to improve restaurants and cafes: loyalty programs, bonus progmras, call to service detection, deep marketing" />
	<meta name="keywords" content="SYGY, AI, computer vision, HoReCa, restaurant, cafe, coffeeshop, loyalty, bonus, waiter, service, guest, merketing, face, detection, recognition, automotization, customer, IIKO, rkeeper" />
	<title>SYGY</title>
	<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
	<header> 
		<div class="container">
			<div class="row justify-content-center" style="margin-top: 10%;">
				<div class="col-5 col-lg-5">
					<img class="img-fluid" src="/static/img/home/cafe_plan.png" alt=""> 
				</div>

				<div class="col-7 col-lg-7">
					<h1 class="display-4">Computer vision to improve your busines</h1>
				</div> 
			</div>
		</div>
	</header>

	<hr> 

	<setion style="background-color: #efefef;"> 
		<div class="container">
			<h2 class="text-center">
				Products<br> 
				<small class="text-muted text-thin">4 blocks for an awesome business</small>
			</h2>

			<div class="row my-4"> 
				<div class="col card mx-2" role="button" onclick="window.location.href='eyeGuest';">
					<img class="card-img-top img-fluid" src="/static/img/home/product_guest.png" alt="[img: Scene guest]">
					<div class="card-block">
						<h4 class="card-title">Guest</h4>
						<p class="card-text" style="min-height: 5rem;">Create easy to use loyalty programs without any cards or apps.</p>
					</div> 
				</div> 
				<div class="col card mx-2" role="button" onclick="window.location.href='eyeWish';">
					<img class="card-img-top img-fluid" src="/static/img/home/product_service.png" alt="[img: Scene service]">
					<div class="card-block">
						<h4 class="card-title">Service</h4>
						<p class="card-text" style="min-height: 5rem;">Find out yout guest's intent even before him.</p>
					</div> 
				</div> 
				<div class="col card mx-2"  role="button" onclick="window.location.href='eyeService';">
					<img class="card-img-top img-fluid" src="/static/img/home/product_waiter.png" alt="[img: Scene waiter]">
					<div class="card-block">
						<h4 class="card-title">Waiter</h4>
						<p class="card-text" style="min-height: 5rem;">Match the best waiter to each guests.</p>
					</div> 
				</div> 
				<div class="col card mx-2"  role="button" onclick="window.location.href='eyeMarketer';">
					<img class="card-img-top img-fluid" src="/static/img/home/product_waiter.png" alt="[img: Scene marketing]">
					<div class="card-block">
						<h4 class="card-title">Marketer</h4>
						<p class="card-text" style="min-height: 5rem;">Some quick example text to build on the card</p>
					</div> 
				</div> 
			</div>
		</div>

		<hr>

		<setion style="background-color: #efefef;"> 
			<div class="container">
				<div class="row my-4">
					<div class="col-6"> 
						<h2>Applications</h2>

						<h4 class="mt-4">Areas</h4>
						<div class="row"> 
							<div class="col text-center"> 
								Restaurants, fastfoods, cafe
							</div>
							<div class="col text-center"> 
								Reatail
							</div>
							<div class="col text-center"> 
								Hotels 
							</div>
						</div>

						<h4 class="mt-4">Venue type</h4>
						<div class="row"> 
							<div class="col text-center"> 
								Window
							</div>
							<div class="col text-center"> 
								Front desk
							</div>
							<div class="col text-center"> 
								Hall 
							</div>
						</div>

					</div>

					<div class="col-6"> 
						<h2>Integration</h2>
					</div>
				</div>
			</div>
		</section>

		<footer>

		</footer>
{% endblock %}