<nav class="navbar navbar-toggleable-md bg-faded navbar-inverse bg-inverse p-0">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<a class="navbar-brand" href="#">
			<img src="/static/img/logo_white_sqr.png" width="35" height="35" class="d-inline-block align-top" alt="[img: logo]">
		</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="guest.html">Guest</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="intent.html">Service</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="waiter.html">Waiter</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="intent.html">Marketing</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="about.html">About us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="support.html">Support</a>
			</li>
		</ul>
	</div>
</nav>